@import "./mixin.scss";
.wrapper{
    margin: 0 auto;
    width: 100%;
}
.carusel{
    margin-bottom: 29px;
    &-list{
        display: none;
    }
    &-image{
        position: relative;
        width: 100%;
        height: 373px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include flex (flex, column, end, normal, wrap);
        display: none;
    }
    &-title{
        @include flex (flex, row, normal, center, wrap);
        height: 49px;
        padding: 0 6px;
        @include font( 22px, 22px, italic);
        letter-spacing: 1px;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.6);
    }
    &-text{
        @include flex (flex, row, normal, center, wrap);
        padding: 0 6px;
        height: 38px;
        @include font( 14px, 14px, italic);
        background-color: $black;
        color: white;
    }
    &-wrapper{
        position: relative;
    }
    &-btn{
        position: absolute;
        width: 90%;
        height: 40px;
        left: 5%;
        top: 50%;
        @include flex (flex, row, space-between, center, no-wrap);
        &__item{
            width: 40px;
            height: 40px;
            background-color: white;
            border: none;
            border-radius: 50%;
            color: $primary;
            font-size: 30px;
            &:hover{
                background-color: $light;
            }
        }
    }
}
.carusel-image.active{
    @include flex (flex, column, end, normal, wrap);
}

@include response('mobile'){
    .wrapper{
        max-width: $width-mobile-tablet;
    }
    .carusel{
        margin-bottom: 39px;
        &-image{
            height: 353px;
        }
        &-text{
            height: 42px;
            padding: 0 24px;
        }
        &-title{
            padding: 0 6px;
        }
    }
}
@include response('tablet'){
    .wrapper{
        max-width: $width-tablet-tablet-l;
    }
    .carusel{
        margin-bottom: 20px;
        &-image{
        height: 445px;
        align-items: flex-start;
        }
        &-text{
            margin-bottom: 70px;
            padding: 0 15px 0 24px;
        }
        &-title{
            padding: 0 10px 0 20px;
        }
        &-btn{
            display: none;
        }
    }
    @import "./mixin.scss";
    .carusel{
        &-list{
            display: flex;
            list-style: none;
        }
        &-item{
            min-width: 178px;
            min-height: 35px;
            background-color: $light;
            color: $primary;
            @include flex (flex, row, center, center, wrap);
            box-sizing: border-box;
            &:hover{
                cursor: pointer;
            }
            &__active{
                background-color: $light-active;
            }
            &__title{
                font-style: normal;
            }
            &__text{
                display: none;
            }
        }
    }
}
@include response('tablet-l'){
    .wrapper{
        max-width: $width-tablet-l-desctop;
    }
}
@include response('desctop'){
    .wrapper{
        max-width: $width-desctop;
    }
    .carusel{
        margin-bottom: 32px;
        &-image{
            height: 445px;
        }
        &-item{
            min-width: 224px;
            min-height: 85px;
            padding-left: 20px;
            @include flex (flex, column, center, flex-start, wrap);

            &__title{
                @include font( 18px, 18px, italic);
            }
            &__text{
                display: block;
                @include font( 10px, 19px, italic);
            }
        }
    }
}