@import "./mixin.scss";
.footer{
    @include flex (flex, row, center, center, wrap);
    width: 100%;
    &-wrapper{
        max-width: 429px;
        border-top: 1px solid $grey;
        @include flex (flex, row, space-between, center, wrap);
        padding: 18px 5px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

.copyright{
    &-item{
        @include font( 12px, 12px, normal);
        color: $grey;
        &__link{
            text-decoration: none;
            color: $primary;
            @include font( 12px, 12px, normal);
        }
        &__separator{
            color: $grey;
        }
    }
}

.social{
    list-style: none;
    @include flex (flex, row, normal, normal, wrap);
    &-item{
        flex: 1;
        &__img{
            max-width: 32px;
            max-height: 32px;
            color: $grey;
        }
    }
}
@include response('mobile'){
    .footer{
        &-wrapper{
            max-width: 560px;
            padding: 18px 0px;
        }
    }
}

@include response('tablet'){
    .footer{
        &-wrapper{
            max-width: 716px;
            padding: 20px 0;
        }
    }
}
@include response('tablet-l'){
    .footer{
        &-wrapper{
            max-width: 896px;
        }
    }
}
@include response('desctop'){
    .footer{
        &-wrapper{
            max-width: 1088px;
        }
    }
}