@import "./mixin.scss";

@include response('tablet-l'){
    .page-wrapper{
        margin: 50px auto 0 auto;
        max-width: 896px;
        @include flex (flex, row, space-between, normal, wrap);
    }
    .left-column{
        width: 712px;
    }
}
@include response('desctop'){
    .page-wrapper{
        margin: 50px auto 0 auto;
        max-width: 1080px;
    }
    .left-column{
        width: 896px;
    }
}