@import "./mixin.scss";

.page-main{
    @include flex (flex, column, center, center, wrap);
}

@include response('tablet-l'){
    .page-wrapper{
        margin-top: 50px;
        width: 896px;
        @include flex (flex, row, space-between, normal, wrap);
    }
    .left-column{
        width: 712px;
    }
}
@include response('desctop'){
    .page-wrapper{
        width: 1080px;
    }
    .left-column{
        width: 896px;
    }
}