@import "./mixin.scss";

.header-wrapper{
    margin: 32px auto 42px auto;
    max-width: $width-for-mobile;
}
.navigation{

    &-list{
        @include flex (flex, row, space-between, center, wrap);
        list-style: none;
        padding: 0 5px;
    }
    &-item{
        &__link{
            text-decoration: none;
            line-height: 14px;
            color: $primary;
            &__img{
                display: none;
            }
        }
    }
    
    &-logo{
        display: block;
        margin: 0 auto;
        margin-top: 34px;
        width: 120px;
        height: 120px;
    }
}

.for-desctop{
    display: none;
}
@include response('mobile'){
    .header-wrapper{
        margin: 21px auto 41px auto;
        max-width: $width-mobile-tablet;
    }
    .navigation{
        @include flex (flex, row, space-between, center, wrap);
        padding: 0;
        &-list{
            flex: 1;
            max-width: 441px;
        }
        &-logo{
            order: -1;
            width: 120px;
            margin: 0 10px 0 0;
        }
    }
}
@include response('tablet'){
    .header-wrapper{
        margin: 21px auto 51px auto;
        max-width: $width-tablet-tablet-l;
    }
    .navigation{
       @include flex (flex, row, space-between, center, wrap);
       padding: 0;

        &-logo{
            margin: 0;
        }

        &-list{
            padding: 0;
            max-width: 500px;
        }
        &-item{
            width: 100px;
    
            &__link{
                @include flex (flex, column, center, center, no-wrap);
                &__img{
                    display: block;
                    margin-bottom: 12px;
                    color: $black;
                }
            }
        }
    }
}
@include response('tablet-l'){
    .header-wrapper{
        margin: 0;
        max-width: 140px;
    }
    .navigation{
        flex-direction: column;
        margin-bottom: 10px;

        &-list{
            flex-direction: column;
            align-items: flex-start;
        }

        &-item{
            width: 140px;
            height: 66px;
            &__link{
                flex-direction: row;
                justify-content: flex-start;
                &__img{
                    margin: 0 12px 0 0;
                    color: $black;
                }
            }
        }
        &-logo{
            margin-bottom: 13px;
        }
        &-title{
            text-transform: uppercase;
            border-bottom: 2px dotted $grey;
            margin-bottom: 9px;
            font-size: 12px;
            line-height: 14px;
            font-style: normal;
        }
        &-button{
            margin-bottom: 15px;
            width: 140px;
            height: 30px;
            color: $primary;
            border: 1px solid $grey;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: white;

            &__link{
                @include flex (flex, row, space-evenly, center, wrap);
                text-decoration: none;
                color: $primary;
                font-size: 10px;
                line-height: 12px;
            }
        }
        &-text{
            font-size: 10px;
            line-height: 19px;
            margin-bottom: 15px;
        }
    }
    .for-desctop{
        display: block;
    }
}